<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="UTF-8">
<meta charset="UTF-8" />

    <title>Customer List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">>
    

</head>
<body>


  <div class="container">
        <div class="card">

            <div class="card-block">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Telephone</th>
                            <th scope="col">Process</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="customer :${customers}">
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.surname}"></td>
                            <td th:text="${customer.address}"></td>
                            <td th:text="${customer.phone}"></td>
                          <td>
                                <a th:href="${'/customer/productadd/' + customer.id}" class="btn btn-success eBtn">Ürün Ekle</a>
                                <a th:href="${'/customer/productlist/'}" class="btn btn-warning eBtn">Ürünleri Listele</a>
                                <a th:href="@{delete/(id=${customer.id})}" class="btn btn-danger delBtn">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

    </div>
</div>

</body>
</html>