<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="/css/homepage.css" rel="stylesheet" type="text/css">
</head>
 <body>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>WELCOME TO SERVICE SYSTEM</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">With this project you can register customer problems and this project has been developed using Java Spring Boot Framework</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://localhost:8081/customer/new" target="_blank">Customer Record System</a>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://localhost:8081/customer/list" target="_blank">Customer List</a>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://localhost:8081/customer/productlist" target="_blank">Product List</a> 
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://localhost:8081/customer/issueslist" target="_blank">İssues</a> 
          <div class="dropdown" style="float: right;position: relative;left: -50px;">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Rest Api
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" href="http://localhost:8081/rest/customers" target="_blank">Customers</a>
			    <a class="dropdown-item" href="http://localhost:8081/rest/customer/5" target="_blank">Customer</a>
			    <a class="dropdown-item" href="http://localhost:8081/rest/products" target="_blank">Products</a>
			     <a class="dropdown-item" href="http://localhost:8081/rest/allIssues" target="_blank">Issues</a>
			  </div>
			</div>  
        </div>
      </div>
    </div>
  </header>
  
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>
</html>